lab12_collections/obj/Debug/netcoreapp3.1/lab12_collections.csprojAssemblyReference.cache
lab12_collections/obj/Debug/netcoreapp3.1/lab12_collections.assets.cache
lab11/obj/Debug/netcoreapp3.1/lab11.csprojAssemblyReference.cache
lab11/obj/Debug/netcoreapp3.1/lab11.assets.cache
lab10/obj/Debug/netcoreapp3.1/lab10.csprojAssemblyReference.cache
